@layer theme {
    [data-theme="dark"] {
        /* Colors */
        --color-primary: #E5DCC5;
        --color-secondary: #161925;
        --color-accent: #FF3864;

        /* Icons */
        --icon-arrow-right: url("../assets/icon-arrow-right-dark.png");
        --icon-heart: url("../assets/icon-heart-dark2.png");
        --icon-link: url("../assets/icon-link-dark.png");

        .astro-code,
        .astro-code span {
            color: var(--shiki-dark) !important;
            background-color: var(--shiki-dark-bg) !important;
            /* Optional, if you also want font styles */
            font-style: var(--shiki-dark-font-style) !important;
            font-weight: var(--shiki-dark-font-weight) !important;
            text-decoration: var(--shiki-dark-text-decoration) !important;
        }
    }
}
